@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
.navbar-brand, h1, h2, h3, h4 {
	font-famil: 'Jeju Gothic';
}
h5 {
	font-family: 'Jeju Gothic';
	font-size: 18px;
	
}
body { 
	font-famil: 'Hanna';
}